
.string {
  color: cyan;

  &::before {
    content: '"';
  }

  &::after {
    content: '"';
  }

  .escape {
    color: lightgreen;
  }

  .code {
    color: cyan;
  }

  .bracket {
    color: white;

    .code {
      padding-left: 5px;
      padding-right: 5px;
      color: gray;
    }
  }
}

.comment {
  color: #636363;

  &::before {
    content: "// ";
  }
}

.object {
  color: silver;

  .delimiter {
    color: silver;
  }

  .key {
    color: red;
  }
}
