.string {
  color: var(--rs-text-link);

  &::before {
    content: '"';
  }

  &::after {
    content: '"';
  }

  .escape {
    color: var(--rs-text-link-active);
  }

  .code {
    color: var(--rs-text-primary);
  }

  .bracket {
    color: var(--rs-text-active);

    .code {
      padding-left: 5px;
      padding-right: 5px;
      color: var(--rs-text-tertiary);
    }
  }
}

.comment {
  color: var(--rs-text-tertiary);

  &::before {
    content: "// ";
  }
}

.object {
  color: var(--rs-text-error);

  .delimiter {
    color: var(--rs-text-secondary);
  }

  .key {
    color: var(--rs-text-primary);
  }
}

.oversized-text {
  font-size: 1000%;
  text-align: center;
}
